body {
    background-color: #4b4b4b;
    color: white;
}

.box {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.box2 {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 550px;
    border: solid 4px #17c0eb;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3), 0 6px 20px rgba(0,0,0,0.19); 
    background-color: #ffffff; 
    color: #4b4b4b; 
}
