body{
    background-color:#4b4b4b ;
    color: white;
}
.box{
    display: flex;
    box-sizing: border-box;
    width: 100%;

}
.box2 div{

    width: 450px;
    height: 550px;
    border: solid 4px red;

}
.box2{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
